<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/form1.css">
  <title>Alteração de Cliente</title>
</head>
<body>   
  <div class="container">
    <div class="form-image">
      <img src="/static/images/alterar.svg">
    </div>
    <div class="form">
      <form action = "{{ request.path }}" method = "post">        
        <div class="retorno">
          <a href="/menuNavegacao">MENU</a>
          <a href="/cliente_menu">LISTA DE CLIENTES</a>
        </div>
        <div class="form-header">          
          <div class="'title">
            <h1>Alterar Cliente</h1>            
          </div>
        </div>
        <div class="input-box">
          <h4>Preencha os campos abaixo:</h4>
        </div>
        <div class="input-group">
          <div class="input-box">            
            <label><strong>NOME COMPLETO</strong></label>
            <input type="text" name="nome" value="{{cliente.nome}}" required/><br>
          </div>
          <div class="input-box">
            <label><strong>CPF/CNPJ</strong></label>
            <input type="text" name ="cpf_cnpj" value="{{cliente.cpf_cnpj}}" required/>
          </div>
          <div class="person-inputs">
            <div class="person-title">
              <h6>PESSOA FISICA/JURIDICA</h6> 
            </div>
            <div class="person-group">
              <div class="person-input">
                {% if cliente.tipo_pessoa == "Fisica" %}       
                  <input type="radio" name ="tipo_pessoa" value="Fisica" checked required>
                {% else %}
                  <input type="radio" name ="tipo_pessoa" value="Fisica" required>
                {% endif %}    
                <label for="none">Fisica</label>
              </div>
              <div class="person-input">           
                {% if cliente.tipo_pessoa == "Juridica" %}       
                  <input type="radio" name ="tipo_pessoa" value="Juridica" checked required>
                {% else %}
                  <input type="radio" name ="tipo_pessoa" value="Juridica" required>
                {% endif %}
                <label for="none">Juridica</label>
              </div>
            </div> 
          </div>        
          <div class="input-box">            
            <label><strong>ENDEREÇO</strong></label>
            <input type="text" name="endereco" value="{{cliente.endereco}}" required/>
          </div>
          <div class="input-box">
            <label><strong>CIDADE</strong></label>
            <input type="text" name="cidade" value="{{cliente.cidade}}"  required/>
          </div>
          <div class="input-box">
            <label><strong>ESTADO</strong></label>
            <input type="text" name="estado" value="{{cliente.estado}}" required/>
          </div>
          <div class="input-box">
            <label><strong>CEP</strong></label>
            <input type="text" name="cep" value="{{cliente.cep}}" required/>
          </div> 
          <div class="input-box">
            <label><strong>TELEFONE</strong></label>
            <input type="tel" name ="telefone" value="{{cliente.telefone}}" required/>
          </div>
          <div class="input-box">
            <label><strong>EMAIL</strong></label>
            <input type="email" name="email" value="{{cliente.email}}" required/>
          </div>
        </div>          
        <div class="continue-button">
          <button class="botao" type="submit" value="Cadastrar">Alterar</button>
        </div>
      </form>
    </div>
  </div>  
</body>
</html>