<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/form1.css">
  <title>Cadastro de Corretor</title>
</head>
<body>    
  <div class="container">
    <div class="form-image">
      <img src="/static/images/corretor_cadastrar.svg">
    </div>
    <div class="form">
      <form action = "{{ request.path }}" method = "post">
        <div class="retorno">
          <a href="/menuNavegacao">MENU</a>
          <a href="/corretor_menu">LISTA DE CORRETORES</a>
        </div>
        <div class="form-header">          
          <div class="'title">
            <h1>Novo Corretor</h1>            
          </div>          
        </div>
        <div class="input-box">
          <h4>Preencha os campos abaixo:</h4>
        </div>
        <div class="input-group">
          <div class="input-box">            
            <label><strong>NOME COMPLETO</strong></label>
            <input type="text" name="nome" required/><br>
          </div>
          <div class="input-box">
            <label><strong>CPF/CNPJ</strong></label>
            <input type="text" name ="cpf_cnpj"required/>
          </div>
          <div class="person-inputs">
            <div class="person-title">
              <h6>PESSOA FISICA/JURIDICA</h6> 
            </div>
            <div class="person-group">
              <div class="person-input">       
                <input type="radio" name ="tipo_pessoa" value="Fisica"required>
                <label for="none">Fisica</label>
              </div>
              <div class="person-input">           
                <input type="radio" name ="tipo_pessoa" value="Juridica">
                <label for="none">Juridica</label>
              </div>
            </div> 
          </div>
          <div class="input-box">
            <label><strong>TELEFONE</strong></label>
            <input type="tel" name ="telefone" placeholder ="(xx)xxxx-xxxx" required/>
          </div>
          <div class="input-box">
            <label><strong>EMAIL</strong></label>
            <input type="email" name="email" placeholder ="email@email" required/>
          </div>          
        </div>
        <div class="continue-button">
          <button class="botao" type="submit" value="Cadastrar">Cadastrar</button>
        </div>
      </form>
    </div>
  </div>  
</body>
</html>

